<div class="card">
  <div class="card__body">
  <button class="btn btn-default btn--icon pull-right" onclick="javascript:location='/users/export_csv';"><i class="zmdi zmdi-download"></i></button>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>S.No</th>
            <th>User ID</th>
            <th>Question??</th>
            <th>Answer</th>
            <th></th>
          </tr>
        </thead>              
        <tbody>

          <% answerList.forEach(function(data, key) {%>
            <script language="javascript">
              function delete<%= key%>(){
                swal({
                  title: "Are you sure?",
                  text: "You will not be able to undo this delete!",
                  type: "warning",
                  showCancelButton: true,
                  confirmButtonColor: "#DD6B55",
                  confirmButtonText: "Yes, delete it!"
                }).then(function(){
                  location='/users/answer?action=delete&answerId=<%= data._id%>';
                });
              }
                      
            </script>
            <tr>
              <td><%= key+1%></td>
              <td><%= data.userId%></td>
              <td><%= data.question%></td>
              <td><%= data.answer%></td>
              <td>
                <button class="btn btn--light"  onclick="delete<%= key%>()"> <i class="zmdi zmdi-delete"></i></button></td>
              </tr>
          <%})%> 
        </tbody>
      </table>
    </div>
  </div>
</div>